@import './assets/scss/abstracts/mixins';

// @include respond(tab-land) {

// }

// @include respond(tab-port) {

// }

.move-r {
  position: relative;
  cursor: pointer;
  padding: 1rem 1rem 1rem 0rem;
  transition: all 0.5s;
  width: auto;
  overflow: hidden;
  display: inline-block;

  &::after {
    content: url('~/assets/svgs/chevron-right.svg');
    position: absolute;
    right: 85%;
    top: 33%;
    left: 0;
    bottom: 0;
    opacity: 0;
  }

  &:hover {
    transition: all 0.5s;
    transform: translateX(2rem);
    padding: 1rem 1rem 1rem 2rem;
    &::after {
      opacity: 1;
      transition: all 0.5s;
    }
  }
}

.blast {
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  width: 0;

  &::before {
    content: '';
    position: absolute;
    background-color: #505e4d;
    // z-index: -1;
    // top: 10px;
    bottom: 0;
    left: 0;
    height: 35%;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.5s;
  }

  &:hover::before {
    transform: translateX(0);
  }
}

// .slide-right {
//   display: block;
//   position: relative;
//   overflow: hidden;
//   background: transparent;

//   span {
//     z-index: 5;
//     position: relative;
//     transition: color 350ms ease;
//   }
// }

// .slide-right:hover span {
//   color: white;
// }

// .slide-right::after,
// .slide-right::before {
//   content: ' ';
//   display: block;
//   position: absolute;
//   width: 100%;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   background-color: #505e4d;
//   z-index: -1;
// }

// .slide-right::before {
//   transform: translateX(-100%);
//   z-index: 1;
// }

// .slide-right:hover::before {
//   transform: translateX(0);
//   transition: transform 350ms ease;
// }

// .slide-right::after {
//   transform: translateX(100%);
//   z-index: 0;
//   transition: none;
//   transition: transform 350ms ease;
// }

// .slide-right::after {
//   opacity: 1;
//   transform: translateX(0);
//   transition: transform 350ms 360ms ease;
// }

// .slide-right {
//   display: inline-block;
//   cursor: pointer;
//   transition: ease-out 0.5s;
//   box-shadow: inset 0 0 0 0 #505e4d;

//   &:hover {
//     box-shadow: inset 680px 200px 0 0 #505e4d;
//   }
// }

.vertical-line {
  &::before {
    content: '';
    animation-name: vertical-move;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    height: 180vh;
    // left: 7px;
    position: absolute;
    top: -4rem;
    border-left: 0.1px solid #c5c1c1;
    @include respond(phone) {
      height: 0;
      content: none;
    }
  }
}
.vertical-line-2 {
  &::after {
    content: '';
    animation-name: vertical-move-short;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    height: 42rem;
    left: 9.2rem;
    position: absolute;
    top: -4rem;
    border-left: 0.1px solid #c5c1c1;

    @include respond(tab-land) {
      height: 41rem;
      left: 8rem;
    }
    @include respond(tab-port) {
      height: 37.3rem;
      left: 6.7rem;
    }

    @include respond(phone) {
      display: none;
    }
  }
}
.vertical-line-3 {
  &::after {
    content: '';
    animation-name: vertical-move-short;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    height: 42rem;

    // height: 81.35vh;
    left: 19rem;
    position: absolute;
    top: -4rem;
    border-left: 0.1px solid #c5c1c1;

    @include respond(tab-land) {
      left: 26.2rem;
    }
    @include respond(tab-port) {
      left: 20rem;
    }

    @include respond(phone) {
      display: none;
    }
  }
}
.vertical-line-4 {
  &::after {
    content: '';
    animation-name: vertical-move-short;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);

    height: 42rem;

    // height: 81.35vh;
    left: 51.2rem;
    position: absolute;
    top: -4rem;
    border-left: 0.1px solid #c5c1c1;

    @include respond(tab-land) {
      left: 40.2rem;
      height: 39.9rem;
    }
    @include respond(tab-port) {
      left: 29.16rem;
      height: 37.3rem;
    }

    @include respond(phone) {
      display: none;
    }
  }
}

.vertical-line-5 {
  &::after {
    content: '';
    animation-name: vertical-move;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    height: 180vh;
    left: 52.9rem;
    position: absolute;
    top: -4rem;
    border-left: 0.1px solid #c5c1c1;

    @include respond(tab-land) {
      left: 41.1rem;
    }
    @include respond(tab-port) {
      left: 30rem;
    }

    @include respond(phone) {
      display: none;
    }
  }
}

.vertical-line-6 {
  &::after {
    content: '';
    animation-name: vertical-move;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    height: 180vh;
    left: 70.3rem;
    position: absolute;
    top: -4rem;
    border-left: 0.1px solid #c5c1c1;
    @include respond(tab-land) {
      display: none;
    }
    @include respond(tab-port) {
      display: none;
    }

    @include respond(phone) {
      display: none;
    }
  }
}
.vertical-line-7 {
  &::after {
    content: '';
    animation-name: vertical-move;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    height: 180vh;
    left: 74.98rem;
    position: absolute;
    top: -4rem;
    border-left: 0.1px solid #c5c1c1;

    @include respond(tab-land) {
      display: none;
    }
    @include respond(tab-port) {
      display: none;
    }

    @include respond(phone) {
      display: none;
    }
  }
}

.horizontal-line-1 {
  position: relative;
  &::after {
    content: '';
    animation-name: hori-move;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    // height: 180vh;
    width: 51.3rem;
    left: 0;
    position: absolute;
    bottom: 1.2rem;
    border-bottom: 0.1px solid #c5c1c1;

    @include respond(tab-land) {
      display: none;
    }
    @include respond(tab-port) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
  }
}
.horizontal-line-2 {
  position: relative;
  &::after {
    content: '';
    animation-name: hori-move-2;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    // animation: hori-move 4s infinite;
    // height: 180vh;
    width: 70.3rem;
    left: 0;
    position: absolute;
    top: 0.18rem;
    border-bottom: 0.1px solid #c5c1c1;

    @include respond(phone) {
      display: none;
    }
  }
}

.horizontal-line-3 {
  position: relative;
  &::after {
    content: '';
    animation-name: hori-move-short;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    // animation: hori-move 4s infinite;
    // height: 180vh;
    width: 9.2rem;
    left: 0;
    position: absolute;
    top: 0rem;
    border-bottom: 0.1px solid #c5c1c1;

    @include respond(phone) {
      display: none;
    }
  }
}

.horizontal-line-4 {
  position: relative;
  &::after {
    content: '';
    animation-name: hori-move-4;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
    // animation: hori-move 4s infinite;
    // height: 180vh;
    width: 17.4rem;
    left: 0;
    position: absolute;
    top: 6rem;
    border-bottom: 0.1px solid #c5c1c1;
  }
}

@keyframes vertical-move {
  from {
    height: 0vh;
  }
  to {
    height: 100vh;
  }
  to {
    height: 180vh;
  }
}

@keyframes vertical-move-short {
  from {
    height: 0rem;
  }
  to {
    height: 40.7rem;
  }
}

// .horizontal-line {
//   position: absolute;
//   left: 1rem;
//   // top: 2%;
//   width: 100%;
//   animation-name: hori-move;
//   animation-duration: 4s;
//   overflow: hidden;
// }

@keyframes hori-move {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes hori-move-short {
  from {
    width: 0;
  }
  to {
    width: 9.2rem;
  }
}
@keyframes hori-move-2 {
  from {
    width: 0;
  }
  to {
    width: 70.3rem;
  }
}

@keyframes hori-move-4 {
  from {
    width: 0;
  }
  to {
    width: 17.4rem;
  }
}

.slider {
  position: relative;
  transition: all 0.3s;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    background-color: white;
    //  border-bottom: 2px solid white;

    bottom: 0;
    left: 0;
    height: 7%;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }

  &:hover::before {
    transform: translateX(0);
  }
}

.img-container {
  position: sticky;
  top: 12rem;
  // top: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 100vh;

  img {
    // width: 800px;
    // height: 500px;
    // height: 25rem;
    // width: auto;
    box-shadow: 2px 9px 20px rgba(0, 0, 0, 0.8);
  }

  // &:nth-child(1) img {
  //   transform: rotate(10deg);
  // }
  // &:nth-child(2) img {
  //   transform: rotate(0deg);
  // }
  // &:nth-child(3) img {
  //   transform: rotate(-10deg);
  // }
  // &:nth-child(3) img {
  //   transform: rotate(20deg);
  // }
}

.tilt-1 {
  transform: rotate(0deg);
}
.tilt-2 {
  transform: rotate(10deg);
}
.tilt-3 {
  transform: rotate(-10deg);
}
.tilt-4 {
  transform: rotate(20deg);
}
