.btn-bg {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 8px;
    height: 100%;
    width: 100%;
    background-color: #505e4d;
    z-index: -1;
  }
}
